* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #0f0f0f;
  color: #fff;
  margin: 0;
  padding: 0;
}

#topo-fixo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1a1a1a;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  padding: 15px 0;
  z-index: 1000;
}

nav {
  display: flex;
  gap: 60px;
}

.menu-item {
  position: relative;
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s;
}

.menu-item:hover {
  color: #727272;
}

.dropdown {
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #222;
  border-radius: 8px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  min-width: 220px;
  margin: 0;
  padding: 0;
}

.menu-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown li {
  list-style: none;
  padding: 10px 15px;
  transition: 0.3s;
}

.dropdown li:hover {
  color: #fffffff6;
}

header {
  text-align: center;
  padding: 20px;
  margin-top: 70px;
}

.search {
  display: flex;
  justify-content: center;
  margin: 36px 0;
}

.search input {
  width: 250px;
  padding: 8px;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
}

.search button {
  padding: 8px 16px;
  border: none;
  background: #ff4757;
  color: #fff;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: background 0.3s;
}

.search button:hover {
  background: #ff687f;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.favorites {
  display: none;
}

.favorites-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

#favorites-text{
  text-align: center;
}

.favorite-confirmation {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #fdff9dff;
  color: #000;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateX(20px);
}

.favorite-confirmation.show {
  opacity: 1;
  transform: translateX(0);
}

.movie-card {
  background: #1e1e1e;
  border-radius: 10px;
  width: 240px;
  text-align: center;
  padding: 16px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  transition: transform 0.2s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 250px;
  background: #333;
  cursor: pointer;
}

button.favorite-btn {
  margin-top: 28px;
  background: #ffc107;
  border: none;
  padding: 6px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(15, 15, 15, 0.95);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 32px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  background: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}

.overlay-content {
  text-align: center;
}

.overlay-content img {
  max-width: 300px;
  border-radius: 10px;
  margin-top: 20px;
}